.appTitle {
  text-align: center;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(46, 52, 236));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
