.appTitle {
  text-align: center;
  background: linear-gradient(to right, rgb(249, 0, 0), rgb(136, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
