.form {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.taskInputText {
  padding-left: 10px;
  border: 0px solid #ffffff;
  border-radius: 8px;
  font-size: 16px;
  flex-grow: 1;
  margin-right: 5px;
  outline-color: #ffffff;
}

.taskInputButton {
  background-color: white;
  border: 0px solid #ffffff;
  border-radius: 8px;
  padding: 12px;
}
