.form {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.taskInputText {
  padding-left: 10px;
  padding-top: 1px;
  border: 0px solid #ffffff;
  border-radius: 8px;
  font-size: 16px;
  flex-grow: 1;
  margin-right: 5px;
  outline-color: #ffffff;
  resize: none;
  &::placeholder {
    color: rgb(193, 193, 193);
  }
  &:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}

.taskInputButton {
  background-color: white;
  border: 0px solid #ffffff;
  border-radius: 8px;
  padding: 12px;
  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
}
