.todoItem {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

.checkBoxItem {
}
.todoItemText {
  flex-grow: 1;
  font-size: 0.8rem;
  padding-left: 8px;
  &.todoItemTextDone {
    color: #777777;
    text-decoration: line-through;
  }
}
